#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

*{
  box-sizing: border-box;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.container input
{
  overflow: hidden  ;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
  width: 100%;
  
}

.container button{
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.resultado{
  display: flex;
}

.resultado p
{
  font-size: 1.3em;
}
